* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: Arial, sans-serif;
  background-color: #fdf6ed;
}
 
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 8px solid #ffffff;
}
 
.logo img {
  height: 80px;
}
 
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
 
nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
 
nav a.active {
  border-bottom: 2px solid black;
}
 
main {
  background-color: #09752E;
  padding: 40px;
  text-align: center;
  max-width: 1200px;
  margin: 40px auto;
  border: #000 1px dashed;
  border-radius: 15px;
  
}
 
.pizza-principal img {
  width: 100%;
  max-width: 50%;
  border-radius: 12px;
  border: 3px solid #FCF0D9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10000000px;  
  transition: transform 0.3s;
  height: auto;
  margin: 0 auto 20px;
  overflow: hidden;
  object-fit: cover;

}
 
.pedido {
  margin: 20px 0;
}
 
.botao-pedido {
  background-color: #d9271d;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border: 3px solid #fff;
  display: inline-block;
}
 
.botao-pedido p {
  margin-top: 5px;
  font-size: 0.9em;
}
 
.galeria {
  background-color: rgb(235, 235, 235);
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100%;
  max-width: 30%;
  margin: 0 auto; 
  padding: auto 20px;
}
 
.galeria img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 3px solid #FCF0D9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;     
}
 
footer {
  background-color: #1e8430;
  color: #fff;
  padding: 20px;
  text-align: center;
}
 
.footer-logo img {
  height: 60px;
}
 
.footer-info p {
  margin: 5px 0;
}
 
footer small {
  display: block;
  margin-top: 10px;
  font-size: 0.8em;
}
footer a {
  color: #fff;
  text-decoration: none;
}